<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='public/signup.css') }}" >
    {% block extra_css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='public/home2.css') }}">
    {% endblock %}
    <title>Dream Team</title>

    </head>
    <body>
        {% block content %}
            {% include 'public/navbar_public.html' %}
        {% endblock %}
        <main>

            <div class="auth-page_container">

                <div class="login-form-container">

                <div class="login-form">

                    <h2>Registrarse</h2>

                    <div class="input-group">
                    <input type="email" id="email-input" name="email" placeholder="Correo" required>
                    <div id="email-error-message" class="error-msg"></div>
                    </div>

                    <div class="input-group">
                    <input type="password" id="password-input" name="password" placeholder="Contraseña" required>
                    <div id="password-error-message" class="error-msg"></div>
                    </div>

                    <div id="create-account-btn" class="login-btn">Crear cuenta</div>

                    <div class="alt-signin-divider"> </div>

                    <button id="sign-up-with-google-btn" class="google-login-btn">
                        <img src="{{ url_for('static', filename='images/google-icon.png') }}" alt="Google Sign Up" class="google-btn-logo">
                        Registrarse con Google
                    </button>
                    <div id="google-signin-error-message" class="error-msg"></div>

                    <div class="signup-link-container">¿Ya tienes una cuenta? <a href="{{ url_for('login') }}">Ingresar</a></div>

                </div>

                </div>

            </div>

        </main>

       

        {% include 'public/footer.html' %}

        <script src="{{ url_for('static', filename='public/login-auth.js') }}" type="module"></script>
        <script src="{{ url_for('static', filename='public/scripts.js') }}" type="module"></script>
        <script>
            // Mobile menu toggle
            const mobileMenuBtn = document.getElementById('mobileMenuBtn');
            const mobileMenu = document.getElementById('mobileMenu');
            
            mobileMenuBtn.addEventListener('click', () => {
                mobileMenu.classList.toggle('active');
            });
        </script>
    </body>
</html>
